<ion-item>
  <ion-label>


    <ion-card>
      <img src="{{ getUserSVC(assign.personId).image}}" />
      <ion-icon name="analytics-outline" style="padding-bottom: 5.5%; margin-left: 3.5%;"></ion-icon>
      <img style="margin-left: 4%;" src="{{getTaskService(assign.taskId).taskImage}}" />
      <ion-card-header>
        
        <ion-card-title>{{ getUserSVC(assign.personId).name }} se encargará de
          {{getTaskService(assign.taskId).taskName}}
        </ion-card-title>

      </ion-card-header>

    </ion-card>

    <ion-button slot="end" color="danger" (click)="onDeleteClick()"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-button slot="end" (click)="onEditClick()"><ion-icon name="create-outline"></ion-icon></ion-button>

  </ion-label>
</ion-item>