<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid >
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img src="../../../assets/imgs/people.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Destination</ion-card-subtitle>
              <ion-card-title>Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
              Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../../../assets/imgs/tasks.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Destination</ion-card-subtitle>
              <ion-card-title>Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
              Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../../../assets/imgs/assign.png" />
            <ion-card-header>
              <ion-card-subtitle>Destination</ion-card-subtitle>
              <ion-card-title>Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
              Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../../../assets/imgs/viewtasks.png" />
            <ion-card-header>
              <ion-card-subtitle>Destination</ion-card-subtitle>
              <ion-card-title>Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
              Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>