<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gestorum</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid >
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <img src="../../../assets/imgs/people.jpg" />
            <ion-card-header>
              <ion-card-title >Usuarios</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button routerLink="../people" expand="block" >Acceder</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../../../assets/imgs/tasks.jpg" />
            <ion-card-header>
              <ion-card-title>Tareas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              
              <ion-button routerLink="../tasks" expand="block">Acceder</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../../../assets/imgs/assign.png" />
            <ion-card-header>
              <ion-card-title>Asignación de Tareas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button routerLink="../assign" expand="block">Acceder</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="../../../assets/imgs/viewtasks.png" />
            <ion-card-header>
              <ion-card-title>Ver Tareas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button routerLink="../viewtasks" expand="block">Acceder</ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>